@model IEnumerable<DaignosProv.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    @item.Name
   
}
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
              
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @foreach (var pro in item.Products)
            {
                @Html.DisplayFor(modelItem => pro.Name)
                @Html.DisplayFor(modelItem => pro.Price)

                <a asp-action="Edit" asp-route-id="@pro.ProductId">Edit</a>
                                                                            
               <a asp-action="Details" asp-route-id="@pro.ProductId"> Details </a >

                     <a asp-action="Delete" asp-route-id="@pro.ProductId">Delete </a >
            }
            <td>
                
            </td>
            <td>
            
            </td>
        </tr>
}
    </tbody>
</table>
